@font-name: "Oxygen";

// Colors

@black: #000;
@blue: #06C;
@white: #FFF;

@light-blue: lighten(@blue, 50%);
@lighter-blue: lighten(@blue, 55%);

@dark-gray: lighten(@black, 35%);
@gray: lighten(@black, 50%);
@light-gray: lighten(@black, 75%);
@lighter-gray: lighten(@black, 90%);

// Typography

@base-fsize: 14px;

// Screen Size

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@screen-phone: @screen-xs;
@screen-tablet: @screen-sm;
@screen-desktop: @screen-md;

// Hero

@hero-padding: 30px;
@hero-color: inherit;
@hero-border-color: @light-gray;
@hero-background-color: @white;
@hero-fsize: ceil((@base-fsize * 1.5));

@hero-heading-color: inherit;
@hero-heading-fsize: ceil((@base-fsize * 4.5));